.image-viewer {
  
}

.image-container {
  border: 1px solid #f99;
  text-align: center;
  min-height: 300px;
}

.image-actions {
  border: 1px solid #f99;
  text-align: center;
}

.image-actions > * {
  margin: 0 1rem;
}
